# Chain Configuration
NEXT_PUBLIC_DEFAULT_ALLOWLIST=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266



# 31337 = Local Hardhat/Anvil, 1 = Mainnet, 11155111 = Sepolia
NEXT_PUBLIC_DEFAULT_CHAIN_ID=31337

# MarketplaceHub Contract Addresses
NEXT_PUBLIC_USER_HUB_LOCAL=0x5eb3Bc0a489C5A8288765d2336659EbCA68FCd00
# NEXT_PUBLIC_MARKETPLACE_HUB_MAINNET=0x...
# NEXT_PUBLIC_MARKETPLACE_HUB_SEPOLIA=0x...

# RPC URLs
# Local development (Hardhat/Anvil)
NEXT_PUBLIC_RPC_URL_LOCAL=http://127.0.0.1:8545

# Mainnet (Replace with your Alchemy/Infura API key)
# NEXT_PUBLIC_RPC_URL_MAINNET=https://eth-mainnet.alchemyapi.io/v2/YOUR-API-KEY

# Sepolia Testnet (Replace with your Infura project ID)
# NEXT_PUBLIC_RPC_URL_SEPOLIA=https://sepolia.infura.io/v3/YOUR-PROJECT-ID

# Other configurations
# Add any additional environment variables here
